@use "global" as *;

.navbar {
    background-color:$green-gn ;
    & a {
        & > img {
            width: 60px;
        }
    }

    & > div{ 
       & > div{
            & > ul {
                display: flex;
                justify-content: space-around;
                gap:20px;
                font-size:18px;
                font-weight: 500;
               
                & > li{
                    display: inline;
                    margin: 0px 25px;

                    &  > a {
                        color: $white;
                        &:hover{
                            color: $light-green-text;
                        }
                    }
              }
               
                

            }

            &>.actions {
                
                display: flex;
                align-items: center;
                gap: 12px;
               
                &>a{
                    font-size: 18px;
                    margin: 0px 10px;
                    color:$white ;
                    font-weight: 500;

                }
                &>button{
                    background-color: #DFCAA5;
                    color: #691B32;
                    font-weight: 500;
                    font-size: 18px;
                    
                }
            }
        }
   }

   & button{
    background-color: #DFCAA5 ;
    color:#fff;
    padding: 12px 14px;
    border:none;
    border-radius: 5px;
   }
   

    & .actions{
        & > *{
        font-size: 14px;
        margin: 0px 10px;
        }
    }
}
.contenedor-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.pie-pagina{
    display: grid;
    grid-template:repeat(1, 1fr) / repeat(2, 1fr);
   
    margin: 20px 0px;
    padding: 10px 20px; 
    
    &>.art-cientifico{
        &>.art-text{
            &>h{
                color:#691B32;

            }
        
        }
        &>div{
            &>img{
                width: 100%;
            }
        }
    }



}

.seccion-form-usuarios{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    /*border: 1px solid red;*/


    &>.form-usuario{
        border: 1px solid #bcbcbc;
        border-radius: 5px;
        margin: 20px 10px;
        width: 40%;

        &>form{  
            &>.div-content{
                &>h4{
                    text-align:center;
                    border-bottom: 1px solid #efefef;
                }
                &>.form-renglon{
                        &>.etiquetas{
                            width:40%;
                            color: gray;
                            font-weight: 500;

                        }
                        &>input{
                            width:55%;
                            border-radius: 5px;
                            border:1px solid #cdcdcd;
                        }
                        &>select{
                            width:55%;
                            border-radius: 5px;
                            border:1px solid #cdcdcd;
                        }
                       
                }

                &>.form-btn{
                    text-align: center;
                   

                    &>.btn{
                       /* text-align: center;*/
                        width: 40%;
                        background-color: #DFCAA5;
                    }
                    
                }

            }
        }    
    }
    

}

.vacio{
    border: 1px solid red !important;
  }

  #divCount {
    width: 15px;
      height: 15px;
      border-radius: 50%;
      background: red;
    padding:5px 5px;
      text-align: center;
    font-family: sans-serif;
      color: white;
      font-size: .7rem;
      font-weight: bold;
      display: inline;
      
  }

@media(max-width:575px){

    .contenedor-titulo {
        text-align: center;
        background-color: #DFCAA5;
        margin: 0;
        
        &>.titulo-general{
            font-size: 25px;
            color: #691B32;

        }

    }


    .contenedor-graf-todo{
        grid-template-columns: 1fr;
        background-color: #691B32;
        padding: 20px 20px;
        margin: 0;
      }

    .seccion-form-usuarios{
    
       
        border: 1px solid red;
    
    
        &>.form-usuario{
            border: 1px solid #dfdfdf;
            margin: 20px 10px;
            width: 95%;

        }
    }


    
.contenedor-perfil{
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(1,1fr);
     
 }
 
    

   

    .pie-pagina{
        grid-template-columns: 1fr;
      

    }
     


   
    body {
       
    }


}

@media (min-width:576px) and (max-width:767px) {
   
  
.contenedor-perfil{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    
}  

}