@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background-color:  #fffbf7;
}


.contenedor-graf-todo{
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(2, 1fr);
    margin: 20px 0px;
    padding: 10px 20px; 
    gap: 20px;
}


.contenedor-graf{
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
 }

.div-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px 20px;
    justify-content: flex-start;
    
    
}

.div-content > h4{
    font-family:"Monserrat", sans-serif;
    color: #691B32;
}
.div-content > img{
   width: 100%;
}
.div-content > p{
    left: 0;
 }

.p2{
    font-family:"Monserrat", sans-serif;

}



.contenedor-perfil{
   /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 10px 20px; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding:10px 10px;
    
}



.div-perfil{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px 5px;
    justify-content: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fdfdfd;

    
    
}

.div-perfil > h4{
    font-family:"Monserrat", sans-serif;
    color: #691B32;
    text-align: center;
}
.div-perfil > img{
   border: 3px solid #efefef;
   height: 200px;
}
.div-perfil > p{
    left: 0;
 }


 .div-info-usuario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    border-bottom: 1px solid #efefef;

 }
 .div-info-usuario > .etiqueta-info{
    font-weight: 500;
 }


@media(max-width:575px){
   
        .navbar, .actions{
            display: none;
        }
 
}
@media (min-width:576px) and (max-width:767px) {
    body{
        background-color: aqua;
        
    }

}

@media((min-width:768px) and (max-width:991px) ){
    body{
       
    }

}

@media((min-width:992px) and (max-width:1199px) ){
    body{
       
    }

}

@media((min-width:1200px) ){
    body{
       
    }

}

