@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

body {
    background-color:  #fffbf7;
}

.try{
    background-color: #025157;
    color:#fff;
    padding: 3px;
    border-radius: 5px;
 }
.start{
    background-color: #67b54b ;
    color:#fff;
    padding: 12px 14px;
    border:none;
    border-radius: 5px;
}
.header{
    margin: 40px 20px 0px 20px;
    font-size: 0px;
    /*position: fixed;*/
    top:0px
}
li{
    display: inline;
    color:#025157;
    margin:0px 25px;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}
.logo{
    width: 15%;
}
.logo > img {
    width:50%
}
.navbar{
/* width: 70%; */
    font-weight: 500;
    text-align: center; 
} 
.actions{
    font-weight: 600;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 12px;
}
.actions > *{
    font-size: 14px;
    margin: 0px 10px;
}
.actions > a{
    color:#67b54b ;
}


@media(max-width:575px){
   
        .navbar, .actions{
            display: none;
        }
 
}
@media (min-width:576px) and (max-width:767px) {
    body{
        background-color: aqua;
        
    }

}

@media((min-width:768px) and (max-width:991px) ){
    body{
       
    }

}

@media((min-width:992px) and (max-width:1199px) ){
    body{
       
    }

}

@media((min-width:1200px) ){
    body{
       
    }

}

